{% extends 'index.html' %}
{% block content %}
<h1>Welcome, {{user.username}}</h1>
<h4>You can navigate through the products here.</h4>
<a href="{% url 'create_product' %}">Add product</a>
<table class="table table-striped">
    <tr>
        <th>Product Name</th>
        <th>Category</th>
        <th>Description</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{ product.product_name }}</td>
        <td>{{ product.category_name}}</td>
        <td>{{ product.description }}</td>
    </tr>
    {% endfor %}
</table>
{% load static %}
<script type="application/javascript">
    $(document).ready(function () {
    })
</script>
{% endblock %}